<main class="main">
    <div class="content">
      

      <!-- Section 1 = Texte + Bouton Découvrir + Image -->
      <section> 
        <div class="container decouvrir">
          <div class="row">

            <div class="col-md-6 col-sm-12">
              <div class="textButton">
                <h1>Les figurines gauloises qui reveillent vos souvenirs d'enfance !</h1>
                <button>Découvrir nos figurines</button>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="containerImg">
                <img src="img/ImgHome.png" alt="Image Astérix et Obélix" >
              </div> 
            </div>

          </div>
        </div>
      </section>



      <!-- Section 2 = Présentation + Image -->
      <section>
        <div class="container presentation">
          <div class="row">

            <div class="col-md-6 col-sm-12 containerText">
              <h1>Présentation des produits</h1>
              <p>Au petit village, c'est une entreprise artisanale Francaise qui donne vie à vos héros de bande dessinées préférés. Chaque figurine est confectionnées à la main, pour raviver la magie d'Astérix et Obélix</p>
            </div>
            <div class="col-md-6 col-sm-12 containerArt">
              <img src="img/Conception.png" alt="Main entrain de concevoir une figurine">
            </div>

          </div>
        </div>
      </section>



      <!-- Section 3 = Les produits + tri -->
      <section>

        <label for="tri">Trier par prix :</label>
        <select id="tri" name="tri">
          <option value="asc">Prix croissant</option>
          <option value="desc">Prix décroissant</option>
        </select>

        <label for="recherche">Rechercher :</label>
        <input type="text" id="recherche" name="recherche" placeholder="Nom de figurine">

        

        <div class="container">
          <div class="row">


            <div class="col-lg-3 col-md-6 col-sm-12" *ngFor="let product of products">
              <h2>{{ product.name }}</h2>
              <img [src]="product.image" [alt]="product.name" class="img-fluid">
              <h2>{{ product.price }} €</h2>
              <button>Ajouter au panier</button>
            </div>


          </div>
        </div>
      </section>
      
    </div>
  </main>
