<main class="main">
    <div class="content">
      

      <section>
        <div class="container decouvrir">
          <div class="row">

            <div class="col-md-6 col-sm-12">
              <div class="textButton">
                <h1>Les figurines gauloises qui reveillent vos souvenirs d'enfance !</h1>
                <button>Découvrir nos figurines</button>
              </div>
            </div>

            <div class="col-md-6 col-sm-12">
              <div class="containerImg">
                <img src="img/ImgHome.png" alt="Image Astérix et Obélix" >
              </div> 
            </div>

          </div>
        </div>
      </section>


      <section></section>

      <section></section>
      
    </div>
  </main>
