<div class="containerFooter">
    <div class="container">
        <div class="row">


            <a class="col-lg-3 col-md-6 col-sm-12 container1" [routerLink]="'/'">
                <img src="img/logo.png" alt="Logo">
                <h3>Au Petit Village</h3>
            </a>


            <div class="col-lg-3 col-md-6 col-sm-12 container2">
                    <a [routerLink]="'/'">ACCUEIL</a>
                    <a [routerLink]="'/'">A PROPOS</a>
            </div>


            <div class="col-lg-3 col-md-6 col-sm-12 container3">
                <h3>Contact</h3>
                    <div>contact a aupetitvillage.fr</div>
                    <div>01 23 45 67 89</div>    
            </div>


            <div class="col-lg-3 col-md-6 col-sm-12 container4">
                <a href="https://www.instagram.com" target="_blank">Instagram</a>
                <a href="https://www.facebook.com" target="_blank">Facebook</a>
                <a href="https://www.linkedin.com" target="_blank">Linkedin</a>
            </div>


        </div>
    </div>
</div>
